<?xml version='1.0' encoding='utf-8'?>
<widget id="org.mobistudy.app" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mobistudy App</name>
    <description>Mobistudy Participants' App</description>
    <author href="https://github.com/Mobistudy">
    Mobistudy Team
  </author>
    <content src="index.html" />
    <icon src="res/icons/icon-512x512.png" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="https://ibme-linuxdev.eng.ox.ac.uk:7777/*" />
    <allow-intent href="https://ibme-linuxdev.eng.ox.ac.uk:7777/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icons/icon-36x36.png" />
        <icon density="mdpi" src="res/icons/icon-48x48.png" />
        <icon density="hdpi" src="res/icons/icon-72x72.png" />
        <icon density="xhdpi" src="res/icons/icon-96x96.png" />
        <icon density="xxhdpi" src="res/icons/icon-144x144.png" />
        <icon density="xxxhdpi" src="res/icons/icon-192x192.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="res/icons/icon-180x180.png" width="180" />
        <icon height="60" src="res/icons/icon-60x60.png" width="60" />
        <icon height="120" src="res/icons/icon-120x120.png" width="120" />
        <icon height="76" src="res/icons/icon-76x76.png" width="76" />
        <icon height="152" src="res/icons/icon-152x152.png" width="152" />
        <icon height="40" src="res/icons/icon-40x40.png" width="40" />
        <icon height="80" src="res/icons/icon-80x80.png" width="80" />
        <icon height="57" src="res/icons/icon-57x57.png" width="57" />
        <icon height="114" src="res/icons/icon-114x114.png" width="114" />
        <icon height="72" src="res/icons/icon-72x72.png" width="72" />
        <icon height="144" src="res/icons/icon-144x144.png" width="144" />
        <icon height="167" src="res/icons/icon-167x167.png" width="167" />
        <icon height="29" src="res/icons/icon-29x29.png" width="29" />
        <icon height="58" src="res/icons/icon-58x58.png" width="58" />
        <icon height="87" src="res/icons/icon-87x87.png" width="87" />
        <icon height="50" src="res/icons/icon-50x50.png" width="50" />
        <icon height="100" src="res/icons/icon-100x100.png" width="100" />
        <gap:plugin name="cordova-plugin-statusbar" source="npm" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#ffffff" />
        <preference name="StatusBarStyle" value="default" />
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <engine name="ios" spec="^5.0.0" />
    <engine name="android" spec="^8.0.0" />
</widget>
